body {
  display: flex;
  flex-wrap: wrap;
}

div {
  background-color: rgb(0, 89, 255);
  width: 300px;
  height: 300px;
  margin-right: 50px;
  margin-bottom: 50px;
}

#div1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#div2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#div3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#div4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#div5 {
  display: flex;
  justify-content: center;
  align-items: center;
}