body {
    display: flex;
    justify-content: space-around;
}
  
div {
    background-color: rgb(0, 89, 255);
    width: 200px;
    height: 200px;
    margin-right: 1px;
}
  
#div1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#div2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#div3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
  